<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>HomePage</title>
  </head>
  <body>
    <%- include("./partials/nav") %> <%- include("./partials/scripts") %>
    <h1>Welcome</h1>
  </body>
</html>
